@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.speedTypingTest {
    background-color: #dac0ff;
    background-size: 100vh;
}

.speedTypeHeading {
    color: #690cb0;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 900;
}

.bg-description {
    color: #3e4c59;
}

.timerImage {
    height: 45px;
    width: 45px;
}

.timer {
    color: #323f4b;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
}

.quoteContainer {
    background-color: #f3eaff;
    border-color: #9aa5b1;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.quoteDisplay {
    color: #323f4b;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
}

.submit-button {
    color: white;
    background-color: #690cb0;
    border-width: 0px;
    height: 34px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

.reset-button {
    color: black;
    background-color: #fffff;
    border-width: 0px;
    text-align: center;
    height: 34px;
    border-radius: 10px;
    width: 80px;
}